<h1 class="jumbotron">Users</h1>

<div class="container">
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
  </ul>



<%= link_to "Make New User", new_user_path(@user), :class => "btn btn-success" %>

</div>
<hr>

<ul>
  <% @topTen.each do |top| %>
  <li><%= top.name %></li>
  <% end %>
</ul>
